{
  name: 'eliot baker'
  contact: [
    {
      url: 'http://www.linkedin.com/in/eliotbaker'
      img: 'http://eliotbaker.com/images/linkedin.png'
    }
    {
      url: 'http://eliotbaker.com/images/resume.pdf'
      img: 'http://eliotbaker.com/images/cv_pdf_vodniciar_com.png'
    }
    {
      url: 'http://github.com/ebaker'
      img: 'http://eliotbaker.com/images/github.png'
    }
    {
      url: 'http://twitter.com/eliotbaker'
      img: 'http://eliotbaker.com/images/twitter.png'
    }
  ]
  projects: [
    {
      image: '/images/mg.png'
      title: 'Martin Garrixx'
      subtitle: 'Photos'
      url: '#'
    }
    {
      image: '/images/3lau.png'
      title: '3LAU'
      subtitle: 'Pencils of Promise'
      url: '#'
    }
    {
      image: '/images/mg.png'
      title: 'teacup-folio'
      subtitle: 'this page'
      url: '#'
      github: '#'
    }
    {
      image: '/images/3lau.png'
      title: 'tailbone'
      subtitle: 'tail -m on backbone over socket.io'
      url: '#'
      github: '#'
    }
  ]
  about:
    img: 'http://eliotbaker.com/images/me.jpg'
    bio: 'coffeescript - yoga - tea'
}
