{
  name: 'eliot baker'
  contact: [
    {
      url: 'http://www.linkedin.com/in/eliotbaker'
      icon: 'linkedin'
    }
    {
      url: 'http://eliotbaker.com/images/resume.pdf'
      icon: 'file-pdf'
    }
    {
      url: 'http://github.com/ebaker'
      icon: 'github'
    }
    {
      url: 'http://twitter.com/eliotbaker'
      icon: 'twitter-bird'
    }
  ]
  work: [
    {
      image: '/images/mg.png'
      title: 'Martin Garrixx'
      subtitle: 'Lifestyle'
      url: 'http://martingarrix.com/lifestyle'
    }
    {
      image: '/images/movement.png'
      title: 'Movement 2014'
      subtitle: 'Artists'
      url: 'http://lessthan3.com/movement-2/artists'
    }
    {
      image: '/images/3lau.png'
      title: '3LAU'
      subtitle: 'Pencils of Promise'
      url: 'http://3lau.com/pop'
    }
    {
      image: '/images/nocturnal.png'
      title: 'Nocturnal Wonderland'
      subtitle: 'Featured & News'
      url: 'http://nocturnalwonderland.com'
    }
  ]
  about:
    img: 'http://eliotbaker.com/images/me.jpg'
    bio: 'tea drinking javascript yogi'
}
