@import 'nib'


body
  background #171d25
  color white
  font-family 'Raleway'
  margin 0

  // header
  > h1
    font-family 'Oswald'
    font-size 54px
    margin 30px 0 10px 0
    text-align center
    text-transform uppercase

#app
  display block
  margin 0 auto
  overflow hidden
  text-align center
  width 768px

  // navigation
  .navigation
    display inline-block
    margin-top 100px
    vertical-align top
    width 120px
    > ul
      list-style none
      padding-left 20px
      position relative
      > .slider
        background orange
        border-radius 1px
        height 40px
        left 0
        position absolute
        top 4px
        transition all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms
        transition-duration 400ms
        width 6px
        &.about
          transform translateY(140px) translateZ(0)
        &.contact
          transform translateY(0) translateZ(0)
        &.work
          transform translateY(70px) translateZ(0)
      > li
        box-sizing border-box
        cursor pointer
        font-size 24px
        font-weight 400
        margin-bottom 20px
        padding 10px 6px
        text-align left
        text-transform capitalize

  // main
  .main
    display inline-block
    height 420px
    margin 40px 0 0 120px
    position relative
    width 420px

    // spinner
    $height_width = 420
    $height_width_px = unit($height_width, 'px')
    $top_margin = unit(($height_width * (-0.55)), 'px')
    $right_margin = unit(($height_width / -2), 'px')
    $top_margin = unit(($height_width / -2), 'px')

    > .spinner, > .circle
      height $height_width_px
      margin $top_margin $right_margin 0 0
      pointer-events none
      position absolute
      right 50%
      top 50%
      transition all 300ms ease-in-out 200ms
      width $height_width_px
      z-index 20
      &.circle
        border 6px solid purple
        border-radius 50%
        box-sizing border-box
      > .button
        position absolute
        transition all 300ms ease-in-out 200ms
        &.contact
          left 50%
          top 2%
        &.work
          left 89.5%
          top 72%
        &.about
          left 8.5%
          top 72%
        > .info
          background #333
          border 10px solid orange
          border-radius 60px
          cursor pointer
          height 80px
          left 0
          margin -45px 0 0 -45px
          pointer-events auto
          position absolute
          top 0
          width 80px
          &:active
            background darken(#333, 10)
          > div
            backface-visibility hidden
            color #eee
            display block
            font-size 17px
            font-smoothing antialiased
            font-family Oswald
            margin 26px auto
            pointer-events none
            position static
            text-align center
            text-transform capitalize
      &.about
        transform rotateZ(-240deg) translateZ(0)
        > div
          transform rotateZ(240deg) translateZ(0)
      &.contact
        transform rotateZ(0) translateZ(0)
      &.work
        transform rotateZ(-120deg) translateZ(0)
        > div
          transform rotateZ(120deg) translateZ(0)

    // contents
    > .wrapper
      height $height_width_px
      margin $top_margin $right_margin 0 0
      position absolute
      right 50%
      top 50%
      width $height_width_px

    .contents
      border 6px solid transparent
      border-radius 50%
      box-sizing border-box
      height 100%
      overflow hidden
      pointer-events none
      position relative
      width 100%
      z-index 10
      -webkit-mask-image -webkit-radial-gradient(circle, white 100%, black 100%)

    .contents > .content
      height 100%
      opacity 0
      position absolute
      text-align center
      transition all 400ms ease-in-out 300ms
      visibility hidden
      width 100%
      a, .cycle-slideshow
        pointer-events auto
      &.active
        opacity 1
        transition-delay 400ms
        visibility visible
      &.about
        top 0
        > img
          width 100%
        > div
          bottom 40px
          margin-top 20px
          position abolute
      &.contact
        padding-top 120px
        text-align center
        z-index 14
        $pdf_color = #BC001A
        $twitter_color = #00ACEE
        $github_color = #333
        $linkedin_color = #0E76A8
        $facebook_color = #435697
        $instagram_color = #3F729B
        > div
          display inline-block
          vertical-align top
          &:not(:last-child)
            margin-right 4px
          > a
            border-radius 8px
            box-sizing border-box
            color white
            display block
            font-size 12px
            height 100%
            height 76px
            padding-top 12px
            text-decoration none
            text-transform uppercase
            width 76px
            z-index 15
            &.facebook
              background $facebook_color
            &.file-pdf
              background $pdf_color
              > i
                font-size 38px
              .resume
                margin-top 5px
            &.github
              background $github_color
            &.linkedin
              background $linkedin_color
            &.twitter-bird
              background $twitter_color
            &.twitter-bird, &.github
              > i:before
                margin-left 0
            > i
              color white
              font-size 44px
              font-smoothing antialiased
      &.work
        margin 0
        text-align center
        position relative
        .cycle-slideshow
          z-index 14
        .cycle-controls
          height 100%
          position absolute
          top 0
          width 100%
          z-index 15
          > .button
            box-sizing border-box
            cursor pointer
            font-size 44px
            height 100%
            max-height 100%
            padding-top 35%
            pointer-events auto
            position absolute
            -webkit-tap-highlight-color rgba(0, 0, 0, 0)
            &:active
              background rgba(0, 0, 0, .6)
            > i
              text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
            &.right
              right 0
        .slide
          width 100%
        .project
          margin 0 auto
          position relative
          > img
            background-size cover
            height $height_width_px
            margin-bottom 8px
            width $height_width_px
          > .info
            background rgba(0, 0, 0, .7)
            bottom 40px
            display block
            padding 10px 0 10px 0
            position absolute
            width 100%
            > h3, div, a
              margin 3px 0
            $github = #4183C4
            $view = purple
            > a
              background $view
              border-radius 8px
              color white
              display block
              display inline-block
              margin-right 5px
              padding 6px 12px
              text-decoration none
              > i
                left 5px
                position relative
              &:active
                background darken($view, 10)
              &.github
                background $github
                &:active
                  background darken($github, 10)

.mobile
  display none

@media (max-width: 768px)
  #app
    max-width 100%
//     .navigation
//       display block
//       margin 0 auto
//
//     // quick main hack
//     .main
//       left -210px
//       margin-left 50%
//       position relative


 @media (max-width: 640px)
   body
     h1
       display none
   #app
     .navigation
       background black
       display block
       margin 0
       max-height 0
       overflow hidden
       position fixed
       top 66px
       transition all ease-out 400ms
       width 100%
       z-index 100
       > ul
         border-top 1px dotted gray
         margin 0px
         padding-left 0px
         > .slider
           display none
         > li
           border-bottom 1px dotted gray
           margin 0
           padding 20px 20px 20px 60px
           text-align left
       &.open
         max-height 300px
      .main
        display block
        margin 0
        width 100%
        > .spinner, > .circle
          display none
        > .wrapper
          position static
          margin 0
          width 100%
        .contents
          border 0
          border-radius 0
          margin 0
          position static
          > .content
            &.work
              height 400px
              left 0
              margin 0px auto
              overflow-y hidden
              .cycle-slideshow
                height 100%
              .cycle-controls
                > .button:active
                  background transparent
              .project
                > img
                  height auto
                  width 100%
                > .info
                  bottom 0px
                  box-sizing border-box
                  padding-bottom 10px
            &.about
              > img
                max-width 100%
            &.contact
              margin 0px auto
              padding 0
              width 100%
              > div
                display block
                margin-top 15px
                > a
                  margin 0 auto

   .mobile
     background black
     display block
     height 66px
     > div
       display inline-block
       font-size 42px
       padding 8px 12px
       &.button
         border-right dotted 1px orange
         box-sizing border-box
         cursor pointer
         > i
           font-size 32px
